<nav class="navbar navbar-expand-lg navbar-light ">
    <a class="navbar-brand p-3 mx-3" style="cursor: pointer" onclick="location.href='/'">Fleur</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav ml-auto">


    </ul>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">

        </ul>
    </div>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" style="cursor: pointer" onclick="location.href='/reviews'"> Reviews </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="cursor: pointer" onclick="location.href='/registration'"> Registration </a>
        </li>
        <li class="nav-item">
        <a class="nav-link mx-4" style="cursor: pointer" onclick="location.href='/profile'"> Profile </a>
        </li>
    </ul>
</nav>
